:root {
  --main-orange-color: #f65b19;
  --main-blue-color: #2b8ecc;
  --teriary-blue-color: #8fc5e7;
  --off-white-text: #f5f5f5;
}
body {
  background: rgb(248, 245, 245);
  height: 2000px;
  margin: 0;
  padding: 0;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #09b1ed;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  margin: 0;
  width: 100%;
}
a.navbar--tel {
  float: right;
}
/* Changes the colours for the various price cards */
.bronze {
  background: var(--main-blue-color);
  text-align: center;
  font-family: verdana;
  color: #fff;
  border-top-left-radius: 0%;
}
.silver {
  background: var(--main-orange-color);
  text-align: center;
  font-family: verdana;
  color: #fff;
}
.gold {
  background: var(--teriary-blue-color);
  border-top-right-radius: 0%;
  text-align: center;
  font-family: verdana;
  color: #fff;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: var(--off-white-text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: verdana;
}
/* Changes about section  */
.about {
  background: var(--main-blue-color);
  padding-bottom: 10px;
  padding-top: 10px;
  width: 90%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  margin-top: 30px;
}
.about p {
  color: #fff;
  font-size: 1.1em;
  margin-left: 15px;
}
.about h2,
.about h3 {
  text-align: center;
  color: var(--off-white-text);
}
.about h2 {
  font-size: 2.5em;
}
.about h3 {
  font-size: 1.7em;
}
.about img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 50%;
  width: 15%;
  margin: auto;
}
/* Change the color of links on hover */
.topnav a:hover {
  color: #fff;
  background: #ed4509;
}
/* custom color for webpage url links */

.inline-url {
  color: var(--main-orange-color);
}
/* Add an active class to highlight the current page */
.active {
  background-color: #ed4509;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
nav {
  box-shadow: 0px 2px 6px #333;
}
/* controls the outer div container  */
.outer-container {
  width: 100%;
  background: #fafafa;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid rgb(228, 225, 225);
  scroll-behavior: smooth;
}
.text {
  width: 95%;
  margin: auto;
  padding: 10px;
}
.text p {
  font-family: verdana;
  font-size: 1.2em;
}
.text h1 {
  text-align: center;
  font-size: 3em;
  font-family: verdana;
  margin-top: 0;
}
section {
  width: 90%;
  margin: auto;
}
.bronze p,
.gold p,
.silver p {
  font-size: 2em;
}
.hero-image {
  margin-top: 47px;
  width: 100%;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 40%;
}
.projects-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  width: 90%;
  margin: auto;
}
.card {
  width: 99%;
  margin: auto;
  background: #fff;
  border: 1px solid #000;
}
.card-img {
  margin-top: -30px;
  width: 100%;
}
.card-heading {
  background: #ed4509;
  padding: 20px;
  margin-top: 0;
}
h1.card-heading {
  font-size: 2em;
  font-family: verdana;
  text-align: center;
  color: #fff;
}
.card-text {
  margin-top: -20px;
  font-size: 1.2em;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1.brand,
.title-heading {
  font-size: calc(2.5em + 1.5vw);
  color: rgb(237, 69, 9);
  text-align: center;
  font-family: "Anton", sans-serif;
}
.brand span {
  color: #2b8ecc;
}

/* Style inputs, select elements and textareas */
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  color: #fff;
}

/* Style the submit button */
input[type="submit"] {
  margin-top: 0.7em;
  background-color: var(--main-orange-color);
  color: white;
  font-size: 1.5em;
  width: 10rem;
  height: 4rem;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  background-color: var(--teriary-blue-color);
  padding: 20px;
  width: 88%;
  margin: auto;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.why--us__flex-row {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: auto;
}
.why--us__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 250px;
  margin: auto;
}
.why--us__card:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -webkit-transform: translateY(20deg);
}
.why--us__card--title {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: var(--main-blue-color);
  font-size: 2em;
}
.why--us__card-p {
  margin: auto;
  margin-top: 0px;
  font-size: 1em;
  font-family: Verdana, Geneva, sans-serif;
}
.why--us__fa {
  color: var(--main-orange-color);
  display: flex;
  justify-content: center;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
  h1.card-heading {
    font-size: 1.5em;
  }
  .why--us__flex-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    overflow: hidden;
    width: 90%;
    margin: auto;
  }

  .why--us__card:hover {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .pricing {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .pricing li {
    text-align: left;
    list-style: none;
    font-size: 1.5em;
    line-height: 2.5em;
  }

  .bronze p,
  .gold p,
  .silver p {
    font-size: 3em;
  }
}
@media screen and (min-width: 1271px) {
  .pricing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  .pricing h2 {
    font-size: 2.5em;
    border-bottom: 10px solid #fff;
  }
  .price-card {
    width: 99%;
    margin-left: 0px;

    /* box-shadow: 1px 1px 5px #4c4d4c; */
  }
  .price-card:hover {
    transform: scale(1.04);
  }
  .bronze p,
  .gold p,
  .silver p {
    font-size: 3em;
  }
  .footer--foo {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
    background: var(--main-orange-color);
    height: 50px;
  }
  .footer--foo__link {
    color: #fff;
    font-family: verdana;
    text-align: center;
    text-decoration: none;
    -moz-text-decoration-line: none;
  }
  .footer--foo__link a {
    text-decoration: none;
  }
  .footer--foo__link a {
    color: #fff;
  }
  .pricing li {
    text-align: left;
    -moz-list-style: none;
    -ms-list-style: none;
    -webkit-list-style: none;
    list-style: none;
    font-size: 2em;
    line-height: 2.5em;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-gap: 15px;
    width: 90%;
    margin: auto;
  }
  .card {
    max-height: 600px;
  }

  img.hero-image {
    margin-top: 5px;
    width: 100%;
    margin-bottom: 30px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 25%;
  }
  .why--us__flex-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    overflow: hidden;
    width: 70%;
    margin: auto;
    border-bottom: 6px solid var(--main-orange-color);
  }
  .why--us__flex-row .bg-colour-blue {
    background: var(--main-blue-color);
  }
  .why--us__card {
    border: none;
  }
}
img {
  margin-bottom: 30px;
}
#top {
  background: #2e79bd;
  width: 50px;
  height: 50px;
  color: var(--main-orange-color);
  font-size: 1.2em;
  border-radius: 5px;
  position: fixed;
  z-index: 99;
  bottom: 35px;
  right: 35px;
  transform: rotate(-15deg);
  transform-origin: bottom left;
  box-shadow: 0px 60px 57px #344;

  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}
#top:hover {
  transform: rotate(0deg);
  box-shadow: 0px 0px 0px #fff;
}

.form-class {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: fixed;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    text-align: center;
    display: block;
    text-align: left;
  }
  .topnav {
    position: fixed;
  }
}
